<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chỉnh sửa thông tin người dùng</title>
    <link rel = "icon" th:href ="@{/img/icon.svg}" type = "image/x-icon">
    <!-- BOOTSTRAP STYLES-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link th:href="@{/css/basic.css}" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link th:href="@{/css/custom.css}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin/index_admin">BLUE Shark</a>
            </div>

            <div class="header-right">


            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a  href="/admin/index_admin"><i class="fa fa-home "></i>TRANG CHU</a>
                    </li>
                    <li>
                        <a href="#" class="active-menu-top"><i class="fa fa-pencil-square-o "></i>EDIT<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in">
                            <li>
                                <a  href="/admin/edit_bus"><i class="fa fa-bus"></i>Edit bus</a>
                            </li>
                            <li>
                                <a href="/admin/edit_driver"><i class="fa fa-male"></i>Edit driver</a>
                            </li>
                            <li>
                                <a href="/admin/edit_rent"><i class="fa fa-car "></i>Edit rent</a>
                            </li>

                            <li>
                                <a href="/admin/edit_schedule"><i class="fa fa-calendar "></i>Edit schedule</a>
                            </li>
                            <li>
                                <a href="/admin/edit_travel"><i class="fa fa-road"></i>Edit travel</a>
                            </li>
                            <li>
                                <a class="active-menu" href="/admin/edit_user"><i class="fa fa-users "></i>Edit user</a>
                            </li>
                            <li>
                                <a href="/admin/edit_voucher"><i class="fa fa-users "></i>Edit voucher</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-plus "></i>Add<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/admin/add_bus"><i class="fa fa-bus"></i>Add bus</a>
                            </li>
                            <li>
                                <a href="/admin/add_driver"><i class="fa fa-male "></i>Add driver</a>
                            </li>
                            <li>
                                <a href="/admin/add_travel"><i class="fa fa-road "></i>Add travel</a>
                            </li>



                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-list-alt "></i>Full <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/admin/full_bus"><i class="fa fa-bus "></i>Full bus</a>
                            </li>
                            <li>
                                <a href="/admin/full_driver"><i class="fa fa-male "></i>Full driver</a>
                            </li>
                            <li>
                                <a href="/admin/full_rent"><i class="fa fa-car "></i>Full rent</a>
                            </li>
                            <li>
                                <a href="/admin/full_schedule"><i class="fa fa-calendar "></i>Full scheduler</a>
                            </li>
                            <li>
                                <a href="/admin/full_travel"><i class="fa fa-road "></i>Full travel</a>
                            </li>
                            <li>
                                <a href="/admin/full_user"><i class="fa fa-users "></i>Full user</a>
                            </li>
                            <li>
                                <a href="/admin/full_voucher"><i class="fa fa-users "></i>Full voucher</a>
                            </li>
                        </ul>
                    </li>



                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Edit travel</h1>
                        <h1 class="page-subhead-line">This is dummy text , you can replace it with your original text. </h1>

                    </div>
                </div>
                <!-- /. ROW  -->


                <div class="row">

                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-success">

                            <p> <label th:text="'Hello: '+${session.USERNAME}"></label> </p>

                            <form th:object="${user}" th:action="@{/admin/save_user}" action="#" method="post">
                                <div>
                                    <label th:for="id">ID Người dùng</label> </br>
                                    <input type="text" th:field="*{id}" readonly="readonly" class="form-control" />
                                </div>
                                <div>
                                    <label th:for="username">Tên tài khoản</label> </br>
                                    <input type="text" th:field="*{username}" readonly="readonly" class="form-control" />
                                </div>
                                <div>
                                    <label th:text="Name" th:for="name"></label> </br>
                                    <input type="text" th:field="*{name}" class="form-control" />
                                </div>
                                <div>
                                    <label th:text="Gender" th:for="gender"></label>
                                    <select class="form-control" name="gender" th:field="*{gender}">
                                        <option value="nam"> nam </option>
                                        <option value="nữ">nữ </option>
                                        <option value="khác">khác </option>
                            
                                    </select>
                                </div>
                                <div>
                                    <label th:text="Point" th:for="point"></label> </br>
                                    <input type="text" th:field="*{point}" class="form-control" />
                                </div>
                                <div>
                                    <label th:text="Phone" th:for="phone"></label> </br>
                                    <input type="text" th:field="*{phone}" class="form-control" pattern="[0-9]{10}" title="Phone should only numbers " />
                                </div>
                                <div>
                                    <label th:text="Email" th:for="email"></label> </br>
                                    <input type="text" th:field="*{email}" class="form-control" />
                                </div>
                                <div>
                                    <label th:text="Address" th:for="address"></label> </br>
                                    <input type="text" th:field="*{address}" class="form-control" />
                                </div>
                                <div>
                                    <label th:text="DateofBirth" th:for="date_of_birth"></label> </br>
                                    <input type="text" th:field="*{date_of_birth}" class="form-control" />
                                </div>
                                <div>
                                    <label th:text="CMND" th:for="CMND"></label> </br>
                                    <input type="text" th:field="*{CMND}" class="form-control" />
                                </div>
                                <input type="submit" class="btn btn-success" value="Save" />
                            </form>

                        </div>
                    </div>
                </div>





            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <div id="footer-sec">
        &copy; BSA
        <a href="" target="_blank"></a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/js/custom.js"></script>


</body>

</html>