<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <link rel = "icon" th:href ="@{/img/icon.svg}" type = "image/x-icon">
    <link rel="preconnect " href="https://fonts.googleapis.com ">
    <link rel="preconnect " href="https://fonts.gstatic.com " crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Roboto:wght@500&display=swap " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,600;1,500&display=swap " rel="stylesheet ">
</head>

<body>



<div class="dropdown " style="float:left; left: 132px; top: 61px; ">
    <img th:src="@{/img/icon1.svg}" width="161.16 ">
</div>
<div class="dropdown " style="float:right; left:-132px; top:86.4px; ">
    <img th:src="@{/img/wave.png}">
    <div class="dropdown-content ">
        <p><a href="/user/index_user">Trang chủ</a>
            <a href="/user/introduction_user">Giới thiệu</a>
            <a href="/user/orderbus">Vận tải hành khách</a>
            <a href="/user/rentcar">Thuê xe</a>
            <a href="/user/Voucher">Đổi Voucher</a>
            <a href="/user/recruitment_user">Tuyển dụng</a>
            <a href="/user/profile"> Thông tin cá nhân </a>
            <a href="/account/logout">Logout
            </a>
        </p>
    </div>
</div>


<div class="ticket">
    <form action="#" th:action="@{/user/saveuser}" th:object="${user}" method="post">
        <table>
            <tr>
                <td>
                    <h2>Xin chào,</h2>

                </td>
                <td >
                    <div class="user">
                        <input type="text" th:field="*{name}" placeholder="Name" />
                    </div>
                </td>
            </tr>
            <tr>
                <td> <img th:src="@{/img/Star.svg}"></td>
                <td><input type="text" th:field="*{point}" placeholder="Point" readonly="readonly" /></td>
            </tr>

            <tr>
                <td> <img th:src="@{/img/Picture4.svg}"></td>
                <td>

                    <input type="text" th:field="*{username}"  placeholder="Username" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td> <img th:src="@{/img/gender.svg}"></td>
                <td>
                    <select class="form-control" th:field="*{gender}">
                        <option value="nam"> nam </option>
                        <option value="nữ">nữ </option>
                        <option value="khác">khác </option>

                    </select>
                </td>
            </tr>

            <tr>
                <td> <img th:src="@{/img/Picture3.svg}"></td>
                <td><input type="text" th:field="*{phone}" placeholder="Phone" pattern="[0-9]{10}" title="Phone should 10 numbers "  /></td>
            </tr>
            <tr>
                <td> <img th:src="@{/img/Picture7.svg}"></td>
                <td><input type="text" th:field="*{email}" placeholder="Email" title="Contact's email (format: xxx@xxx.xxx)" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" /></td>
            </tr>
            <tr>
                <td> <img th:src="@{/img/Picture5.svg}"></td>
                <td><input type="text" th:field="*{address}" placeholder="Address" /></td>
            </tr>
            <tr>
                <td> <img th:src="@{/img/Picture2.svg}"></td>
                <td><input type="text" th:field="*{date_of_birth}" placeholder="Date of Birth" /></td>
            </tr>

            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>


</div>


<div class="menu">

    <br>
    <a href="/user/profile"><img th:src="@{/img/Group 7.svg}"> </a> <br>
    <a href="/user/full_history"> <img th:src="@{/img/Group 4.svg}"> </a>
    <a href="/user/info_voucher"><img src="https://img.icons8.com/external-flat-02-chattapat-/64/000000/external-gift-black-friday-flat-02-chattapat-.png" width="50px"/></a> <br>
    <br>

    <br />
</div>




</body>

</html>