<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" th:href="@{/css/notifail.css}">
    <link rel = "icon" th:href ="@{/img/icon.svg}" type = "image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
</head>

<body>

<div class="tick"> <img th:src="@{/img/xred.png}" width="110px"  ></div>

<div class="hinhtron"><img th:src="@{/img/boderman.svg}" width="100px" ; height="100px" >
</div>

<div class="icon"><img th:src="@{/img/icon.svg}"></div>

<div class="hcn">
    <h1>Đánh giá không thành công </h1>
    <h2>Chưa đến thời gian đánh giá hoặc chuyến đi bị hủy</h2>
    <h2> <a href="/user/profile">Truy cập thông tin cá nhân để xem điểm</a> </h2>
</div>
</body>

</html>