<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Recruitment.css}">
    <link rel = "icon" th:href ="@{/img/icon.svg}" type = "image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,600;1,500&display=swap" rel="stylesheet">
</head>

<body>


<div class="dropdown" style="float:left; left: 132px; top: 61px;">
    <img th:src="@{/img/icon1.svg}" width="161.16">
</div>
<div class="dropdown" style="float:right; left:-132px; top:86.4px;">
    <img th:src="@{/img/wave.png}">
    <div class="dropdown-content">
        <p><a href="/user/index_user">Trang chủ</a>
            <a href="/user/introduction_user">Giới thiệu</a>
            <a href="/user/orderbus">Vận tải hành khách</a>
            <a href="/user/rentcar">Thuê xe</a>
            <a href="/user/Voucher">Đổi Voucher</a>
            <a href="/user/recruitment_user">Tuyển dụng</a>
            <a href="/user/profile"> Thông tin cá nhân </a>
            <a href="/account/logout">Logout</a></p>
    </div>
</div>
<div class="tuyendung">
    TIN TUYỂN DỤNG
</div>
<div class="hcn1">
    <h1>SharkDriver</h1>
    <h2>Khi trở thành tài xế của blueShark, bạn sẽ được hưởng đầy đủ các trợ cấp, bảo hiểm cũng như mức lương hấp dẫn và những kỳ nghỉ vui vẻ bên gia đĩnh và công ty.</h2>
    <h2>Đồng thời, tài xế cần có trách nhiệm với công việc. Không được lơ là tập trung để đảm bảo an toàn tuyệt đối cho quý khách hàng. Mọi việc làm của tài xế sẽ được đánh giá trực tiếp bởi khách hàng. </h2>

</div>

<div class="hcn2">
    <h1>SharkCounselor</h1>
    <h2>Khi bạn trở thành một nhân viên tư vấn bạn sẽ được hưởng những quyền lợi thưởng tết, bảo hiểm xã hội đầy đủ, nghỉ phép 15 ngày/năm trong bất kỳ thời điểm nào, được tham gia các hoạt động giải trí sau giờ làm của công ty cũng như những chuyến nghỉ
        dưỡng hấp</h2>
    <h2>Trách nhiệm với công việc: tư vấn viên cần có trình độ chuyên môn, tâm huyết với nghề, nhiệt tình với khách hàng. Mức lương của nhân viên sẽ được đánh giá tự động theo số lượng đơn hàng.
    </h2>
</div>

<div class="Mi_thng_tin_chi_tit_xin_lin_h__Class">

    <span>Mọi thông tin chi tiết xin liên hệ hotline tuyển dụng: 1900JQKA<br/>Hoặc email tuyển dụng: recruit@blueshark.com</span>
</div>


<div class="copy">© 2021 Blue SHARK</div>
</body>

</html>