<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Đổi Voucher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/voucher.css}">
    <link rel = "icon" th:href ="@{/img/icon.svg}" type = "image/x-icon">
    <link rel="preconnect " href="https://fonts.googleapis.com ">
    <link rel="preconnect " href="https://fonts.gstatic.com " crossorigin>
<!--    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Roboto:wght@500&display=swap " rel="stylesheet ">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap " rel="stylesheet ">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,600;1,500&display=swap " rel="stylesheet ">-->
</head>

<body>

<div class="dropdown " style="float:left; left: 132px; top: 61px; ">
    <img th:src="@{/img/icon1.svg}" width="161.16 ">
</div>
<div class="dropdown " style="float:right; left:-132px; top:86.4px; ">
    <img th:src="@{/img/wave.png}">
    <div class="dropdown-content ">
        <p><a href="/user/index_user">Trang chủ</a><a href="/user/introduction_user">Giới thiệu</a> <a href="/user/orderbus">Vận tải hành khách</a> <a href="/user/rentcar">Thuê xe</a> <a href="/user/Voucher">Đổi Voucher</a> <a href="/user/recruitment_user">Tuyển dụng</a> <a href="/user/profile"> Thông tin cá nhân </a>                <a href="/account/logout">Logout</a></p>
    </div>
</div>


<div class="text" ><h1>QUY ĐỔI VOUCHER</h1></div>

<div class="bang">
    <table class="table table-active" border="1">
        <tr>
            <th>Mã Voucher</th>
            <th>Số sao quy đổi<br>(số sao / 1 voucher)</th>
            <th>Mô tả</th>
        </tr>
        <tr>
            <td>VC10K </td>
            <td>8000</td>
            <td>- Voucher sẽ giảm 10000 tiền mặt cho tổng hóa đơn khi đăng ký vé xe khách</td>
        </tr>
        <tr>
            <td>VC20K </td>
            <td>16000</td>
            <td>- Voucher sẽ giảm 20000 tiền mặt cho tổng hóa đơn khi đăng ký vé xe khách</td>
        </tr>
        <tr>
            <td>VCG5P </td>
            <td>30000</td>
            <td>- Voucher giảm 5% cho tổng hóa đơn khi đăng ký vé xe khách<br>- Voucher giảm tối đa 50000</td>
        </tr>
    </table>
</div>

<div class="textvoucher" ><h2>Quy đổi voucher</h2></div>

<div class="ticket">
    <form th:action="@{/user/saveVoucher}" th:object="${voucher}" method="post">
        <div class="form-group row">
            <label class="col-4 col-form-label">VC10K</label>
            <div class="col-8">
                <input type="number" th:field="*{VC10K}" class="form-control"  />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">VC20K</label>
            <div class="col-8">
                <input type="number" th:field="*{VC20K}" class="form-control"  />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">VCG5P</label>
            <div class="col-8">
                <input type="number" th:field="*{VCG5P}" class="form-control"  />
            </div>
        </div>
        <p style="color: red" th:text="${ERROR1}"></p>
        <p style="color: #1589CE" th:text="${ERROR2}"></p>
        <div>
            <button type="submit" class="btn btn-primary" >Sign Up</button>
        </div>
    </form>

</div>

<div class="textxemthem" ><h3>Mua voucher - Mua sắm thông minh thời đại 4.0</h3></div>

<div class="xemthem">
    <ol>Voucher là gì?
        <ul>Voucher là một thuật ngữ khá phổ biến trong thời đại mua sắm bùng nổ hiện nay. Đay là một dạng phiếu được các doanh nghiệp, nhà sản xuất dành tặng cho khách hàng của mình để làm quà tặng
            mã giảm giá hay mua hàng ưu đãi.Các loại voucher phổ biến như voucher giảm giá, voucher du lịch, voucher spa,...</ul>
        <ul>Voucher có thể tồ tại ở nhiều hình thức nhưng chủ yếu qua hai dạng đó là dạng phiếu(thườn bằng giấy) hoặc điện tử
            (hay còn gọi e-vouchet). Trong thời đại mua sắm online, thương mại điện tử phát triển. voucher online trở nên
            rất phổ biến và được nhiều khách hàng lựa chọn.</ul>
        <ul>Khách hàng khi sở hữu voucher thường có giá trị trong một khoảng thời gian nhất định mà nhà cung cấp đưa ra trong khi mua hàng hoá, dịch vụ của nghành hàng đó.Sở hữu voucher,
            người tiêu dùng sẽ được các quyền lợi như giảm giá, quà tặng khi mua hàng.</ul>
    </ol>
    <ol>Hướng dẫn sử dụng voucher
        <ul>Mua và sử dụng mã giảm giá,người tiêu dùng có thể sử dụng qua hai hình thức là sử dụng trực tiếp hoặc sử dụng online.</ul>
        <ul>Với hình thức sử dụng trực tiếp:</ul>
        <ul>
            <li>Bạn đưa mã e-voucher cho nhân viên kiểm tra và xác nhận. Nếu voucher của bạn cung cấp hợp lệ và còn hạn quy định bạn sẽ nhận ưu đãi</li>
        </ul><ul>Với hình thức sử dụng online:
            <li>Bạn sẽ áp mã e-voucher vào ngay trong hoá đơn mua hàng để sử dụng. Nếu mã đấy không còn bạn sẽ nhận được thông báo và phải dùng sao để mua thêm voucher.</li>
        </ul> </ol>
</div>
<footer style="background-color: #0A0A0A;
        margin-top: 50rem">
    <img th:src="@{/img/footer1.png}" width="100%" height="300px">
</footer>

</body>

</html>

