<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tạo thông tin cá nhân</title>
    <link rel="stylesheet" th:href="@{/css/register_user.css}">
    <link rel = "icon" th:href ="@{/img/icon.svg}" type = "image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>

<body>

    <div class="vayca">
        <img th:src="@{/img/human.svg}">
    </div>
    <div class="menu">
        <form th:action="@{/account/save_new_user}" th:object="${user}" method="post">
            <div class="form-group row">
                <label class="col-4 col-form-label">Họ và Tên: </label>
                <div class="col-8">
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Nguyễn văn A" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Giới tính: </label>
                <div class="col-8">
                    <select class="form-control" name="gender">
                <option value="nam"> nam </option>
                <option value="nữ">nữ </option>
                <option value="khác">khác </option>

            </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Số điện thoại: </label>
                <div class="col-8">
                    <input type="tel" th:field="*{phone}" class="form-control" pattern="[0-9]{10}" title="Phone should only numbers " placeholder="0xxxxxxxxx" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Email: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" title="Contact's email (format: xxx@xxx.xxx)" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Địa chỉ: </label>
                <div class="col-8">
                    <input type="text" th:field="*{address}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Ngày sinh: </label>
                <div class="col-8">
                    <input type="date" th:field="*{date_of_birth}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">CMND : </label>
                <div class="col-8">
                    <input type="text" th:field="*{CMND}" class="form-control" pattern="[0-9]{9}" title="Chứng minh nhân dân chỉ bao gồm số với độ dài là 9" />
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>





</body>

</html>
